<div class="row logoAndSrch">
    <div class="col-lg-3 p-0">
        <a> <img src="../../assets/image/logo.png" /> </a> 
    </div>
    <div class="col-lg-7">

        <mat-form-field style="width:80%;margin-right:15px;" class="mt-1">
            <input  matInput placeholder="Search by Title,Author,ISBN or Keywords">
        </mat-form-field>
        <button mat-raised-button color="primary" width="1">Search</button>


        <!--
                <div class="form-group">
                <input type="text" name="searchKey" class="form-control"
                    placeholder="Search by Title,Author,ISBN or Keywords" />
            </div> -->

    </div>
    <div class="col-lg-2">
        <i class="material-icons">
            shopping_basket
        </i>
    </div>
</div>