
        <div class="row" class="form">
                <mat-card>
                        <mat-card-title class="text-center">Book Information</mat-card-title>
                    <form [formGroup]="bookInfoForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput placeholder="Book Title" formControlName="title">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Author Name" formControlName="author">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="ISBN" formControlName="isbn">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Copyright Year" formControlName="copyrightYear">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Availablity" formControlName="availablity">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="List Price" formControlName="listPrice">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Discount" formControlName="discount">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Our Price" >
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Publisher" formControlName="publisher">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Imprint" formControlName="imprint">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Format" formControlName="format">
                                </mat-form-field>
            
                                <mat-form-field>
                                    <input matInput placeholder="Edition Type" formControlName="eidtion">
                                </mat-form-field>
                            </div>
            
                            <div class="col-md-6">
            
                                <mat-form-field>
                                    <input matInput placeholder="Page" formControlName="pages">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Print Origin" formControlName="printOrigin">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Department" formControlName="department">
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Course" formControlName="courses">
                                </mat-form-field>
                                <mat-form-field>
                                    <textarea matInput placeholder="Market Restriction" formControlName="mktRestriction"></textarea>
                                </mat-form-field>
                                <mat-form-field>
                                    <textarea matInput placeholder="Overview" formControlName="overview"></textarea>
                                </mat-form-field>
                                
                               
                                <button type="submit" mat-raised-button class="btn-block bg-primary">Submit</button>
            
                            </div>
                        </div>
                    </form>
                </mat-card>
            
            </div>
