<div class="row sliderContainer" >
    <div id="demo" class="carousel slide" data-ride="carousel" style="position:relative;width:100%;">

        <!-- The slideshow -->
        <div class="carousel-inner ">
            <div class="carousel-item active">
                <img src="../../assets/image/slider1.jpg" class="" alt="Los Angeles" height="100%" width="100%">
                <div class="carousel-caption">
                    <h3>New York</h3>
                    <p>We love the Big Apple!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/image/slider2.jpg" class="" alt="Chicago" height="100%" width="100%">

                <div class="carousel-caption">
                    <h3>New York</h3>
                    <p>We love the Big Apple!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/image/slider3.jpg" class="" alt="New York" height="100%" width="100%">
                <div class="carousel-caption">
                    <h3>New York</h3>
                    <p>We love the Big Apple!</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <div class="container cardOnSlider">
        <div class="row d-flex  justify-content-between">
            <mat-card class="mat-card-each">
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                </mat-card-header>
                <img src="../../assets/image/promo-2.jpg" class="img-fluid mx-auto d-block" alt="Photo of a Shiba Inu"
                    width="100%" height="20px">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest
                    </p>
                </mat-card-content>
                <mat-card-actions class="d-flex justify-content-center">
                    <button mat-raised-button color="primary">See More</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="mat-card-each">
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                </mat-card-header>
                <img src="../../assets/image/promo-2.jpg" class="img-fluid mx-auto d-block" alt="Photo of a Shiba Inu"
                    width="100%" height="300px">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest
                    </p>
                </mat-card-content>
                <mat-card-actions class="d-flex justify-content-center">
                    <button mat-raised-button color="primary">See More</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="mat-card-each">
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                </mat-card-header>
                <img src="../../assets/image/promo-2.jpg" class="img-fluid mx-auto d-block" alt="Photo of a Shiba Inu"
                    width="100%" height="300px">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest
                    </p>
                </mat-card-content>
                <mat-card-actions class="d-flex justify-content-center">
                    <button mat-raised-button color="primary">See More</button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="mat-card-each">
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                </mat-card-header>
                <img src="../../assets/image/promo-2.jpg" class="img-fluid mx-auto d-block" alt="Photo of a Shiba Inu"
                    width="100%" height="300px">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest
                    </p>
                </mat-card-content>
                <mat-card-actions class="d-flex justify-content-center">
                    <button mat-raised-button color="primary">See More</button>
                </mat-card-actions>
            </mat-card>


        </div>

    </div>


</div>

